<template>
  <div>
    <div class="modal-backdrop" @click="close"></div>
    <div class="modal">
      <header class="modal-header">
        <slot name="header">
          Success!
        </slot>
      </header>

      <section class="modal-body">
        <slot name="body">
          <p class="body-text">Your transport was booked.</p>
          <base-button class="ok-btn" @click="close">Ok
          </base-button>
        </slot>
      </section>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ModalBox',
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>

<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #121231;
    cursor: pointer;
    opacity: 0.7;
  }

  .modal {
    background: #FFFFFF;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    max-width: 467px;
    width: 467px;
    box-sizing: border-box;
  }

  .modal-header {
    font-size: 35px;
    color: #121231;
    text-align: center;
  }

  .modal-body {
    position: relative;
    margin-top: 10px;


  }

  .body-text {
    font-size: 24px;
    text-align: center;
  }

  .ok-btn {
    margin-top: 40px;
  }
</style>