<template>
  <div class="base-input-container" :style="{ width: width, height: height }">
    <slot class="slot"></slot>
    <form autocomplete="off" @submit.prevent="">
      <!-- <input :type="type" :value="value" v-bind="$attrs" class="search-input" :placeholder="placeholder"
        v-on:input="$emit('input', $event.target.value)" @focus="$emit('focus')" @blur="$emit('blur')"
        @keyup.enter="$emit('keyupEnter')" /> -->

      <input type="text" v-bind="$attrs" class="base-input" :placeholder="placeholder" @focus="$emit('focus')"
        @input="$emit('input', $event.target.value)" @blur="$emit('blur')" @keyup.enter="$emit('keyupEnter')"
        :value="value" />

    </form>
  </div>
</template>

<script>
  export default {
    name: "CustomInput",
    props: {
      label: {
        type: String,
      },
      type: {
        type: String,
        default: "text",
      },
      value: {
        type: String,
        default: "",
      },
      width: {
        type: String,
      },
      height: {
        type: String,
      },
      placeholder: {
        type: String,
      },
    },
    computed: {
      name() {
        return this.label || "";
      },
    },
  };
</script>

<style lang="scss" scoped>
  .base-input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    .base-input {
      position: absolute;
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      box-sizing: border-box;
      color: #121231;
      padding-left: 17px;
      font-size: 13px;
      border: 2px solid #9e9e9e;

      &:focus {
        border: 2px solid #121231;
      }
    }



  }
</style>