<template>
  <button v-bind="$attrs" v-on="$listeners" :class="buttonStyle"
    :style="{ color: color, width: width, height: height }">
    <slot v-if="!loading"></slot>
    <spinner-circle class="loading-spinner-small" v-if="loading" />
  </button>
</template>

<script>
  export default {
    name: "TheBaseButton",
    props: {
      buttonStyle: {
        type: String,
        default: "",
      },
      color: {
        type: String,
      },
      width: {
        type: String,
      },
      height: {
        type: String,
      },
      loading: {
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss" scoped>
  button {
    background: #e72a50;
    border-radius: 4px;

    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-spinner-small {
      width: 18px;
      height: 18px;
    }

    &.deactive {
      opacity: 0.6;
      cursor: default;
    }
  }
</style>