<template>
  <div class="base-card">
    <slot></slot>
  </div>
</template>


<style lang="scss" scoped>
  .base-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 33px #d1d1d1;
    box-sizing: border-box;
    padding: 70px;
  }
</style>