<template>
  <div class="price-calculator">
    <base-card class="calculator-box">
      <p class="title">Calculate price now</p>

      <div v-for="(addressType, typeIndex) in addressTypes" :key="'addressType-' + typeIndex">
        <p class="type-info">{{typeIndex == 0 ? 'Loading' : 'Unloading'}}</p>
        <div class="form-container" v-for="(address, index) in addressType" :key="'address-' + index">
          <country-dropdown :countries="countries" :selected="address.country"
            @selectChanged="changeSelected($event, index, typeIndex)">
          </country-dropdown>

          <dropdown-with-input :cities="cities" :selected="address.zip + ' ' + address.city"
            @selectChanged="changeSelectedCity($event, index,typeIndex )"
            @citySearchChanged="searchForCities($event, address.country, typeIndex, index)"
            v-if="autocompleteCountries.includes(address.country)">
          </dropdown-with-input>

          <div class="non-autocomplete-form" v-else>
            <base-input class="postcode-input" placeholder="Enter postcode" v-model="address.zip">
            </base-input>

            <base-input class="city-input" placeholder="Enter city" v-model="address.city">
            </base-input>
          </div>

          <p class="add-button" v-if="index == 0" @click="addToAddresses(typeIndex)">
            {{typeIndex == 0 ? "Add loading address" : "Add unloading address"}}
          </p>
          <p class="remove-button" v-else @click="removeFromAddressList(typeIndex, index)">X</p>
        </div>
      </div>
      <div v-if="amount.price && validation">
        <p class="total">Total</p>
        <p class="total-price">{{Math.round(amount.price * 100) / 100}} EUR</p>
        <p class="vat-gross">excl. {{amount.vat_rate}} VAT Gross {{calculateTotalAmount(amount.price, amount.vat_rate)}}
          EUR *</p>
      </div>

      <base-button class="book-transport-btn" :buttonStyle="!validation ?  'deactive' : '' " @click="finish"
        :loading="loadingSpinner">
        Book transport
      </base-button>
    </base-card>
    <ModalBox v-show="isModalVisible" @close="closeModal" />
  </div>
</template>

<script>
  import apiService from "@/APIServices/APIService";
  import CountryDropdown from "@/components/Dropdowns/CountryDropdown";
  import DropdownWithInput from "@/components/Dropdowns/DropdownWithInput";
  import ModalBox from '@/components/Modals/ModalBox.vue';

  export default {
    name: "PriceCalculator",
    components: {
      CountryDropdown,
      DropdownWithInput,
      ModalBox
    },
    data() {
      return {
        countries: ['AD', 'AL', 'AM', 'AT', 'AZ', 'BA', 'BE', 'BG', 'BY', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'GE', 'GR', 'HR', 'HU', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MC', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RU', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'IE',
        ],
        autocompleteCountries: ['AT', 'BE', 'BG', 'CH', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'HR', 'HU', 'IT', 'LU', 'LT', 'LV', 'MC', 'NL', 'PL', 'PT', 'RO', 'SE', 'SK', 'SI'],
        cities: [],
        selectedCity: {},
        loadingAddresses: [
          {
            country: 'DE',
            zip: '',
            city: '',
          },
        ],
        unloadingAddresses: [
          {
            country: 'DE',
            zip: '',
            city: '',
          },
        ],
        isModalVisible: false,
        priceIsValid: false,
        loadingSpinner: false,
        amount: {}
      };
    },
    methods: {
      changeSelected(data, index, typeIndex) {
        if (typeIndex == 0) {
          this.loadingAddresses[index].country = data
          this.loadingAddresses[index].zip = ''
          this.loadingAddresses[index].city = ''
        }
        else {
          this.unloadingAddresses[index].country = data
          this.unloadingAddresses[index].zip = ''
          this.unloadingAddresses[index].city = ''
        }
      },
      changeSelectedCity(data, index, typeIndex) {

        if (typeIndex == 0) {
          this.loadingAddresses[index].zip = data.zipCode
          this.loadingAddresses[index].city = data.name
        } else {
          this.unloadingAddresses[index].zip = data.zipCode
          this.unloadingAddresses[index].city = data.name
        }
      },
      searchForCities(query, country, typeIndex, index) {
        if (typeIndex == 0) {
          this.loadingAddresses[index].city = ''
        }
        else {
          this.unloadingAddresses[index].city = ''
        }
        this.cities = []
        if (!query) {
          return
        }
        apiService
          .cities(country, query)
          .then((response) => {
            this.cities = response.data.data;
          })
          .catch(() => { })
          .finally(() => { });
      },
      calculatePrice() {
        this.loadingSpinner = true
        this.priceIsValid = false

        const data = {
          token: "tb7iVecOI1XQcj58346jN2bQJ8MrDG7YXwr4NXvS",
          addresses: [
            ...this.loadingAddresses,
            ...this.unloadingAddresses,
          ]
        }

        apiService
          .price(data)
          .then((response) => {
            console.log(response.data);
            if (response.data.message == "Success!") {
              this.priceIsValid = true
              this.amount = response.data.data
            }
          })
          .catch(() => { })
          .finally(() => {
            this.loadingSpinner = false
          });
      },
      resetForm() {
        this.selectedCity = {}
        this.cities = []
      },
      addToAddresses(typeIndex) {
        if (typeIndex == 0) {
          this.loadingAddresses.push({
            country: 'DE',
            zip: '',
            city: '',
          },
          )
        } else {
          this.unloadingAddresses.push({
            country: 'DE',
            zip: '',
            city: '',
          },
          )
        }
      },
      removeFromAddressList(typeIndex, index) {
        if (typeIndex == 0) {
          const newLoadingAddrArray = this.loadingAddresses
          newLoadingAddrArray.splice(index, 1)
          this.loadingAddresses = newLoadingAddrArray
        } else {
          const newUnoadingAddrArray = this.unloadingAddresses
          newUnoadingAddrArray.splice(index, 1)
          this.unloadingAddresses = newUnoadingAddrArray
        }
      },
      showModal() {
        this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
      },
      calculateTotalAmount(price, vat_rate) {
        return Math.round((price + price * vat_rate) * 100 / 100)
      },
      finish() {
        if (!this.validation) {
          return
        }
        this.isModalVisible = true
      }
    },
    computed: {
      addressTypes() {
        return [this.loadingAddresses, this.unloadingAddresses]
      },
      validation() {
        const loadingsAreValid = this.loadingAddresses.every(item => item.country && item.zip && item.city);
        const unloadingsAreValid = this.unloadingAddresses.every(item => item.country && item.zip && item.city);
        return loadingsAreValid && unloadingsAreValid && !this.loadingSpinner;
      }
    },
    watch: {
      loadingAddresses: {
        handler() {
          this.cities = []
          if (!this.validation) {
            return
          }
          this.calculatePrice()
        },
        deep: true
      },
      unloadingAddresses: {
        handler() {
          this.cities = []
          if (!this.validation) {
            return
          }
          this.calculatePrice()
        },
        deep: true
      }
    }
  };
</script>

<style lang="scss" scoped>
  .calculator-box {
    max-width: var(--main-width);
    margin: 110px auto 30px;

    .form-container {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .type-info {
      margin-top: 40px;
      color: #333333;
    }

    .title,
    .total-price,
    .vat-gross {
      color: #121231;
    }

    .total,
    .total-price,
    .vat-gross {
      text-align: right;
    }

    .total {
      color: #9e9e9e;
      font-weight: bold;
      margin-top: 40px;
    }

    .total-price {
      font-weight: bold;
      font-size: 35px;
      margin: 5px 0;
    }

    .vat-gross {}

    .non-autocomplete-form {
      height: 40px;

      .postcode-input {
        width: 140px;
        margin-left: 15px;
      }

      .city-input {
        width: 240px;
        margin-left: 15px;
      }
    }

    .add-button {
      text-decoration: underline;
      color: #9E9E9E;
      margin-left: 30px;
      cursor: pointer;
    }

    .remove-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      background: #e72a50;
      border-radius: 50%;
      color: #ffffff;
      margin-left: 30px;
      cursor: pointer;
      font-size: 12px;
    }

    .book-transport-btn {
      margin-top: 40px;
    }
  }
</style>