<template>
  <div class="sp-circle" :class="color"></div>
</template>

<script>
  export default {
    name: "SpinnerCircle",
    props: ["color"],
  };
</script>

<style scoped>
  /* Spinner Circle Rotation */
  .sp-circle {
    border: 3px #ffd217 solid;
    border-top: 3px transparent solid;
    border-radius: 50%;
    -webkit-animation: spCircRot 0.6s infinite linear;
    animation: spCircRot 0.6s infinite linear;
  }

  .white {
    border: 3px #ffffff solid;
    border-top: 3px transparent solid;
  }

  @-webkit-keyframes spCircRot {
    from {
      -webkit-transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(359deg);
    }
  }

  @keyframes spCircRot {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
</style>