<template>
  <div class="dropdown" @blur="dropdownIsActive = false" tabindex="0" :class="{ active: dropdownIsActive }">
    <span class="selected">{{ selected }}</span>
    <div class="dropdown-arrow" @click="dropdownIsActive = !dropdownIsActive">
      <span class="down"></span>
    </div>
    <dropdown-list :data="countries" :dataToShow="countries" :selected="selected" v-on="$listeners"></dropdown-list>
  </div>
</template>

<script>
  import DropdownList from "@/components/Dropdowns/DropdownList";
  export default {
    name: "PriceCalculator",
    props: ["countries", "selected"],
    components: {
      DropdownList,
    },
    data() {
      return {
        dropdownIsActive: false,
      };
    },
  };
</script>


<style lang="scss" scoped>
  .dropdown {
    position: relative;
    width: 140px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #9e9e9e;
    border-radius: 4px 0px 0px 0px;
    box-sizing: border-box;
    transition: 0.2s;
    display: inline-block;
    line-height: 40px;
    /* padding-left: 19px; */

    .selected {
      font-size: 13px;
      padding-left: 19px;

    }

    .dropdown-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 100%;
      background: #ffffff;
      box-sizing: border-box;
      transition: 0.2s;
      border-left: 1px solid #9e9e9e;
      cursor: pointer;

      .down {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        height: 8px;
        width: 8px;
        border-bottom: 2px solid #707070;
        border-right: 2px solid #707070;
        transition: all 0.6s;
      }
    }

    &.active {
      border: 2px solid #121231;

      .dropdown-arrow {
        background: #121231;
        border-left: 1px solid #121231;

        .down {
          border-bottom: 2px solid #ffffff;
          border-right: 2px solid #ffffff;
        }
      }

      .list {
        height: 250px;
        border: 2px solid #121231;
      }
    }
  }
</style>