<template>
  <p class="list-item" @click="$emit('listClicked')" :class="{ active: selected == dataToShow }">
    {{ dataToShow }}
  </p>
</template>

<script>
  export default {
    name: "ListItem",
    props: ["active", "dataToShow", "selected"],
  };
</script>

<style lang="scss" scoped>
  .list-item {
    height: 36px;
    border-left: 5px solid #ffffff;
    padding-left: 12px;
    line-height: 36px;
    cursor: pointer;
    font-size: 13px;

    &.active {
      border-left: 5px solid #121231;
      background: #f4f4f4;
    }
  }
</style>