<template>
  <div class="list">
    <dropdown-list-item v-for="(data, index) in data" :key="'list-data-' + index" :data="data"
      :dataToShow="dataToShow[index]" v-on="$listeners" @listClicked="$emit('selectChanged', data)"
      :selected="selected"></dropdown-list-item>
    <p v-if="!data.length" class="empty-text">Please enter zip code or city</p>
  </div>
</template>

<script>
  import DropdownListItem from "@/components/Dropdowns/DropdownListItem";
  export default {
    name: "DropdownList",
    props: ["data", "dataToShow", "selected"],
    components: {
      DropdownListItem,
    },
  };
</script>

<style lang="scss" scoped>
  .list {
    position: absolute;
    top: 36px;
    width: 100%;
    height: 0;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    transition: 0.2s;
    overflow-y: scroll;
    z-index: 100;

    .empty-text {
      padding-left: 15px;
    }
  }
</style>