<template>
  <div class="dropdown-with-input" :class="{ active: inputIsActive }">
    <base-input class="search-input" v-model="searchQuery" @input="changeCitySearchQuery" @focus="inputIsActive = true"
      v-click-outside="close">
    </base-input>
    <dropdown-list :data="cities" :dataToShow="mappedCities" :selected="selected.zipCode + ' ' + selected.name"
      v-on="$listeners">
    </dropdown-list>
  </div>
</template>

<script>
  import DropdownList from "@/components/Dropdowns/DropdownList";
  export default {
    name: "PriceCalculator",
    props: ["cities", "selected"],
    components: {
      DropdownList,
    },
    data() {
      return {
        inputIsActive: false,
        searchQuery: "",
      };
    },
    methods: {
      changeCitySearchQuery(query) {
        this.inputIsActive = true
        this.$emit('citySearchChanged', query)
      },
      close() {
        console.log('ss');
        this.inputIsActive = false
      }
    },
    watch: {
      selected() {
        this.searchQuery = this.selected;
        // this.inputIsActive = false
      },
    },
    computed: {
      mappedCities() {
        return this.cities.map((city) => `${city.zipCode} ${city.name}`)
      }
    }
  };
</script>


<style lang="scss" scoped>
  .dropdown-with-input {
    position: relative;
    width: 410px;
    height: 40px;
    background: #ffffff;
    border-radius: 4px 0px 0px 0px;
    box-sizing: border-box;
    transition: 0.2s;
    display: inline-block;
    line-height: 40px;
    left: -2px;

    &.active {
      .list {
        height: 250px;
        border: 2px solid #121231;
      }
    }

    .search-input {
      width: 410px;
    }
  }
</style>