<template>
  <div class="footer">
    <div class="link-container">
      <a href="">Contact</a>
      <a href="">Terms and conditions</a>
      <a href="">Data policy</a>
      <a href="">Legal</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheFooter",
};
</script>

<style lang="scss" scoped>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: var(--footer-height);
  box-sizing: border-box;
  background: #121231 0% 0% no-repeat padding-box;

  .link-container {
    max-width: var(--main-width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    a {
      color: #ffffff;
      margin-right: 80px;
    }
  }
}
</style>