<template>
  <div class="header">
    <div class="logo-container">
      <img src="@/assets/logo.svg" alt="zipmend-logo" />
    </div>
  </div>
</template>

<script>
export default {
  name: "TheHeader",
};
</script>

<style lang="scss" scoped>
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  box-sizing: border-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #d1d1d1;

  .logo-container {
    display: flex;
    align-items: center;
    max-width: var(--main-width);
    height: 100%;
    margin: 0 auto;
  }
}
</style>